html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* *************************************************************** */

    @font-face {
        font-family: "main";
        src: url(fonts/HYPE.ttf);
    }

    @font-face {
        font-family: "open";
        src: url(fonts/OpenSans-Light.ttf);
    }

    @font-face {
        font-family: "title";
        src: url(fonts/Arual.ttf);
    }

/* *************************************************************** */

html {
    font-family: "open", "Tahoma", Helvetica, sans-serif;
    background: url(bg3.jpg);
    height: 100%;
        background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
li {
    list-style: none;
}

h1 {
   font-size: 65px;
    text-shadow: 0px 0px 10px #000;
    color: #2db0d6;
    font-family: "open";
    font-weight: 100;
    letter-spacing: 3px;
}

.error {
	color: #e51111;
}
#sideContainer {
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    width: 170px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.51) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.92)), color-stop(100%, rgba(0, 0, 0, 0.51)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.51) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.51) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.51) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.51) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eb111111', endColorstr='#82333333', GradientType=0);
    /* IE6-9 */
        box-shadow: 0px 0px 5px #000;
}

.mainContainer {
    width: 65%;
    min-width: 770px;
    margin: 0 auto;
    padding-left: 7.5%;
    
}

.topContent {
    -webkit-box-shadow: 0 10px 9px -9px #111;
	   -moz-box-shadow: 0 10px 9px -9px #111;
	        box-shadow: 0 10px 9px -9px #111;
    text-align: center;
    padding: 25px;
    border-radius: 0 0 2px 2px;
    background: rgba(0, 0, 0, 0.8);
}

.topContent img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0px 1px 15px #000;
    vertical-align: middle;
}

.compass {
    color: rgb(30,146,180);
    position: relative;
    top: 15px;
    left: 28%;
}
a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:visited {
    text-decoration: none;
    color: #FFF;
}	
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(30,146,180, 0), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    background-image:    -moz-linear-gradient(left, rgba(30,146,180, 0), rgba(30,146,180, 1), rgba(30,146,180, 0));  
    background-image:     -ms-linear-gradient(left, rgba(30,146,180, 0), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    background-image:      -o-linear-gradient(left, rgba(30,146,180, 0), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    width: 85%;
    margin: 3px auto;
}


.commentContainer {
    vertical-align: top;
    display: inline-block;
    min-width: 250px;
    max-width: 325px;
    padding: 15px;
    -webkit-box-shadow: 0 10px 9px -9px #111;
	   -moz-box-shadow: 0 10px 9px -9px #111;
	        box-shadow: 0 10px 9px -9px #111;
    background: rgba(17, 17, 17, 0.85);
    color: #FFF;
    
    margin: 15px 2px;
    min-height: 85px;
}
.navLink {
	text-transform: uppercase;
}
.postDetails {
	background-color: rgba(30,146,180, 0.75);
	box-shadow: 0px 0px 1px #000;
	border-radius: 1px;
	color: #FFF;
	padding: 30px;
	
	margin-bottom: 15px;
}

.postDetails h3 {
	font-size: 36px;
}

.postDetails.history{
	font-size: 24px;
}

.commentHeader {
	font-size: 22px;
	color: #000;
	font-weight: 700;
}

.commentBox {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	padding: 15px;
	margin: 5px 0;
}

.commentBox hr {
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(30,146,180, 1), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    background-image:    -moz-linear-gradient(left, rgba(30,146,180, 1), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    background-image:     -ms-linear-gradient(left, rgba(30,146,180, 1), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    background-image:      -o-linear-gradient(left, rgba(30,146,180, 1), rgba(30,146,180, 1), rgba(30,146,180, 0)); 
    width: 70%;
    margin: 10px 0;
}
.commentBox a{
	text-decoration: none;
	color: rgba(30,146,180, 1);
}
cite {
    float: right;
    font-size: 13px;
    padding: 5px 0 5px 0;
}

h2 {
    margin: 25px 10px 10px 10px;
    color: #FFF;
    font-family: "open", "Tahoma", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-shadow: 0px 0px 1px #000;
}
h3 {
    font-size: 15px;
    font-weight: 100;
    color: #FFF;
    
}
h3.author {
    float: right;
    font-size: 14px;
    color: rgba(30,146,180, 1);
    margin: 3px 0;
    
}
.div {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 0)); 
    width: 85%;
    margin: 10px auto;
    
}

.menuBg {
    transition: all 0.2s ease-in-out;
}
.menuBg:hover, a:active {
    background: rgba(45,176,214,0.75);
}
.navLink {
    padding: 10px 30px;
    font-family: "main", "Arial Black", Helvetica, sans-serif;
    font-size: 22px;
    color: #FFF;
    display: block;
}
menu {
    padding-top: 20px;
    margin: 0 auto;
}
footer {
    color: #a9a9a9;
    position: relative;
    left: 0;
    top: 55%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
}
.hrContainer {
    margin-top: 10px;
    margin-bottom: 25px;
}

form {
    margin-top: 25px;
}

label {
    display: block;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

.textEntry {
    display: block;
    width: 35%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    font-family: "open", "Tahoma", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: rgb(45,176,214);
    padding-left: 60px;
    box-shadow: 0px 0px 10px #222;
}

#submit {
    width: 15%;
    padding: 15px 0px;
    background-color: rgb(30,146,180);
    color: #FFF;
    border: none;
    margin: 15px 0;
}

#submit:hover {
    cursor: pointer;
   background-color: rgb(33,160,197);
}
.custom-file-input {
	visibility: hidden;
	width: 0;
	position: relative;
    margin-bottom: 15px;
}
.custom-file-input::before {
	content: 'Upload File';
	display: inline-block;
	background-color: rgb(30,146,180);
	border: none;
	padding: 10px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 12px;
	color: #edebe8;
	visibility: visible;
	position: absolute;
}

#columns {
	display: inline-block;
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
	height: auto;
}

.pin {
	border-radius: 2px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 5px;
	width: 235px;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
	vertical-align: top;
}

.title {
	margin: 0;
	font-size: 24px;
}

.pin:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #111;
    cursor: pointer;
}
.pin img {
	width: 100%;
	padding-bottom: 15px;
}

.pin p {
    margin-top: 15px;
	font: 13px/18px "open", sans-serif;
	color: #fff;
	margin-bottom: 15px;
}

.contentContainer {
	padding-top: 25px;
}

td form {
	vertical-align: top;
	position: relative;
	top: -14px;
	left: 0;
}
td {
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	color: #FFF;
	vertical-align: middle;
	margin: 0;
	border: none;
	
}
#wrench {
	color: rgb(30,146,180);
	text-decoration: none;
	position: relative;
	bottom: 0;
	right: 0;
}

.locPic {
	width: 1000px;
	height: 1000px;
}

.t-Header {
	font-size: 20px;
	color: rgb(30,146,180);
	font-weight: 100;
}

td input {
	vertical-align: middle;
	background: transparent;
	color: rgb(30,146,180);
	text-transform: capitalize;
	border: none;
	font-size: 15px;
}
@media (max-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media screen and (max-width: 960px) {    
    .mainContainer {
        margin-left: 11%;
        width: 530px;
    }
}